.navbar {
  background-color: #aaaaaa;
  padding: 1%;
  position: absolute;
  
  .content-right {
    padding-right: 1%;
  }
  
  .content-center {
    
    .bar-logo {
      display: block;
      margin: auto;
      width: 20%
    }
  }
  
  .content-left {
    padding-left: 1%;
  }
}
